.be-first{
    background-color: var(--color-bg-third);
    color: var(--color-text-primary);
    border-top: 2px solid #19223c;
    .content-container{
        display: flex;
        flex-direction: row !important;
        align-items: center;
        gap: 20px !important;
    }
    p{
        color: var(--color-text-four);
    }
    img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .text{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-right: 57px;
    }
}

@media(max-width: 1400px){
    .be-first{
        .text{
            padding-right: 0px !important;
        }
    }
}

@media(max-width: 1200px){
    .be-first{
        img{
            width: 500px;
        }
    }
}

@media(max-width: 900px){
    .be-first{
        .content-container{
            flex-direction: column !important;
        }
        .text{
            width: 100%;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        img{
            width: 100%;
            max-width: 450px;
        }
    }
}